services:
  # Backend Service
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
      args:
        DATABASE_URL: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}
    restart: unless-stopped
    environment:
      DATABASE_URL: ${DATABASE_URL}
      NODE_ENV: development
    # ports:
    #   - "5000:5000"
    volumes:
      - ./backend/src:/app/src
      - ./backend/prisma:/app/prisma
      - ./backend/node_modules:/app/node_modules
    networks:
      - syncode-network
    # allow migrate to fail without stopping the container, then start dev server
    command: sh -c "npx prisma migrate deploy || true && npm run dev"

  # Frontend Service
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    restart: unless-stopped
    environment:
      NEXT_PUBLIC_API_URL: http://backend:5000
      WATCHPACK_POLLING: "true"
    # ports:
    #   - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
      - /app/.next
    depends_on:
      - backend
    networks:
      - syncode-network

networks:
  syncode-network:
    driver: bridge
