:root {
  --primary-color: #28A99E;
  --text-dark: #132D46;
  --text-gray: #64748B;
  --bg-light: #F9FBFC;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  color: var(--text-dark);
  background: var(--bg-light);
}

#root {
  min-height: 100vh;
}
